[alias]
  diff = diff --word-diff
  mdiff = diff --diff-filter=CMRTUXB
  merge = merge --no-ff
  pull = pull --no-ff
  co = checkout
  cm = !git commit -e -F "$(git rev-parse --git-dir)/COMMIT_EDITMSG"
  st = status
  pf = push --force-with-lease
  up = pull --rebase --autostash
  sync = !git up && git push && :
  findcommit = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
  findmessage = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
  set-upstream = "!f() { git push --set-upstream origin $(git branch --show-current); }; f"
[core]
  quotepath = false
  autocrlf = input
  pager = delta
  hookspath = ~/.git/hooks
  editor = nvim
[diff]
  colorMoved = default
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd L\"
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  syntax-theme = ansi
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[push]
  default = tracking
[web]
  browser = open
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"
[include]
  path = ~/.gitconfig.local
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  program = gpg
[pull]
  rebase = true
[init]
  defaultBranch = main
[rerere]
	enabled = true
[rebase]
	updateRefs = true
[commit]
	template = ~/.gitmessage
