[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vagrant-bash-completion"]
	path = vagrant-bash-completion
	url = https://github.com/kura/vagrant-bash-completion.git
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/aziz/tmuxinator.git
