# change values: sops edit .secrets.enc.yaml

use_sops() {
    local path=${1:-$PWD/.env.enc.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use sops
