[alias]
    diff = diff --word-diff
    mdiff = diff --diff-filter=CMRTUXB
    merge = merge --no-ff
    pull = pull --no-ff
    co = checkout
    st = status
[core]
    quotepath = false
    autocrlf = input
    pager = less -r
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[push]
    default = tracking
[web]
    browser = open
[merge]
    conflictstyle = merge
[include]
path = ~/.gitconfig.local
[pull]
	ff = only
