[user]
    name = Robin Kautz
    email = post@robinkautz.de
[alias]
    diff = diff --word-diff
    mdiff = diff --diff-filter=CMRTUXB
    merge = merge --no-ff
    pull = pull --no-ff
    co = checkout
    st = status
	de = devbliss
[core]
    quotepath = false
    pager = less -r
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[diff] 
[difftool] 
    tool = diffmerge
    mnemonicprefix = true
#[diff]
[push]
    default = tracking
[web]
    browser = open
[merge]
    conflictstyle = merge
[diff]
[difftool "diffmerge"]
